<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342895550643-b99rv4gacapsmu5mjnhc9lfmquv09je2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342895550643-b99rv4gacapsmu5mjnhc9lfmquv09je2</string>
	<key>API_KEY</key>
	<string>AIzaSyDTB32-KUTeaSXduBCZ877ItxKMGBxUmQY</string>
	<key>GCM_SENDER_ID</key>
	<string>342895550643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.hikick.application</string>
	<key>PROJECT_ID</key>
	<string>hikick-coreservice</string>
	<key>STORAGE_BUCKET</key>
	<string>hikick-coreservice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342895550643:ios:2a11e1f6b8a2747011d0c6</string>
</dict>
</plist>