<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ko_KR</string>
	<key>CFBundleDisplayName</key>
	<string>하이킥</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>hikick</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hikick</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>50</string>
	<key>CodePushDeploymentKey</key>
	<string>OSD_5NXhtWkEeFnDVEg_FzAwcXp1ZTQwZzimU</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>dapp</string>
		<string>kakaotalk</string>
		<string>itms-apps</string>
		<string>comgooglemaps</string>
		<string>citymapper</string>
		<string>uber</string>
		<string>lyft</string>
		<string>transit</string>
		<string>truckmap</string>
		<string>waze</string>
		<string>yandexnavi</string>
		<string>moovit</string>
		<string>yandextaxi</string>
		<string>yandexmaps</string>
		<string>kakaomap</string>
		<string>szn-mapy</string>
		<string>mapsme</string>
		<string>osmandmaps</string>
		<string>gett</string>
		<string>nmap</string>
		<string>dgis</string>
		<string>lftgpas</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NMFClientId</key>
	<string>ty26nofcpk</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>킥보드 잠금해제와 헬멧 잠금해제 통신할때에 사용합니다.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>킥보드 잠금해제와 헬멧 잠금해제 통신할때에 사용합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>킥보드 QR코드 인식 및 반납 사진 업로드시 사용됩니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>주변 킥보드 검색 및 보험 처리를 위해 위치 정보를 사용합니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>주변 킥보드 검색 및 보험 처리를 위해 위치 정보를 사용합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>주변 킥보드 검색 및 보험 처리를 위해 위치 정보를 사용합니다.</string>
	<key>NSMotionUsageDescription</key>
	<string>주변 킥보드 검색 및 보험 처리를 위해 위치 정보를 사용합니다.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-peripheral</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
